<h1 id="tableLabel">Rockers</h1>

<p *ngIf="!rockers"><em>...Loading</em></p>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="rockers">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Instrument</th>
            <th>Still Alive?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of rockers">
            <td>{{s.firstName}}</td>
            <td>{{s.lastName}}</td>
            <td>{{s.instrument}}</td>
            <td>{{s.isAlive}}</td>
        </tr>
    </tbody>
</table>
First Name
<input [(ngModel)]="newRocker.firstName" name="FirstName"/>
<p></p>
Last Name
<input [(ngModel)]="newRocker.lastName" name="LastName"/>
<p></p>
Instrument
<input [(ngModel)]="newRocker.instrument" name="Instrument"/>
Is Alive
<input
  type="checkbox"
  [(ngModel)]="newRocker.isAlive"
  [ngModelOptions]="{standalone: true}"/> 

<button (click)="save()">Save</button>